*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background: rgba(255, 255, 255, 0.2);
}

/* container */
.container {
  max-width: 1300px;
  width: 1200px;

  display: grid;
  grid-template-columns: 1fr minmax(150px, 350px);

  margin: 0px auto;
}

.main {
  padding: 20px 10px;
}

.cartitems {
  padding: 20px;
}

/* cart main  */

.cart__Area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* max-width: 420px;
  width: 320px; */

  grid-gap: 15px;
}

.cart__Area img {
  width: 100%;
}

.cart__Area .cart {
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 1);

  margin-bottom: 20px;
}
.cart__Area .cart .cart__content {
  padding: 10px;
}

.cart__Area .cart .cart__content .addtocard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
}

.cart__Area .cart__content .addtocard button {
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

.cart_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  background: rgb(221, 221, 221);

  box-shadow: 0px 10px 15px -20px rgba(0, 0, 0, 1);

  margin-bottom: 5px;
}

.item_btns .addBtn,
.item_btns .removeBtn {
  padding: 8px;
  background: #333;
  color: #fff;
  margin: 2px;
  border: none;

  cursor: pointer;
}

.priceItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.total {
  background: #333;
  color: #fff;
  padding: 10px;
}

/* header */

.header_container {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;

  justify-content: space-between;

  margin-bottom: 30px;

  background: #333;
  color: #fff;

  padding: 10px 50px;
}
.header_container h1 {
  justify-self: start;
}

.header_container p {
  justify-self: end;

  position: relative;
}

.header_container p span {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;

  line-height: 20px;

  position: absolute;
  right: -20px;
  top: -10px;

  background: tomato;
}
.checkout {
  border: none;
  display: block;

  background: rgb(226, 214, 36);

  margin-top: 10px;
  padding: 10px;

  font-family: "Poppins", sans-serif;

  cursor: pointer;
}
